.contact-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.button-container{
    display: flex;
    flex-direction: row;
     gap: 60px; 
}

.small-input{
    background-color: white;
    width: 800px;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.big-input{
    background-color: white;
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
    border: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.send-btn{
    background-color: #7DAA7D;
    width: 200px;
    margin-left: 600px;
    margin-bottom: 50px;
}